git+https://github.com/chipsalliance/f4pga.git@main#subdirectory=f4pga
python-constraint
pyyaml
fasm
intervaltree
junit-xml
numpy
openpyxl
ordered-set
parse
progressbar2
pyjson5
pytest
scipy
simplejson
sympy
textx
yapf
git+https://github.com/f4pga/prjxray.git@master#egg=prjxray
git+https://github.com/chipsalliance/f4pga-xc-fasm.git@master#egg=xc-fasm
